.App {
  display: flex;
  min-width: 600px;
  max-width: 620px;
  min-height: 400px;
}

.AppWrapper {
  background-color: #1a395f;
  text-align: center;
  min-width: 600px;
  max-width: 620px;
  min-height: 400px;
}
