.App {
  display: flex;
  min-width: 600px;
  max-width: 620px;
  min-height: 400px;
}

.AppWrapper {
  background-color: #1a395f;
  text-align: center;
  min-width: 600px;
  max-width: 620px;
  min-height: 400px;
}

.AppMenu {
  max-width: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
}
